header{
	background: url("img/bgheader.jpg");
	height:659px;
	background-repeat: no-repeat;
	background-size: cover;
}
nav{
	width: 100%;
	background: none;
}
.nav_header{
	list-style: none;
	margin-left: -40px;	
}
.boton{
	display: inline-block; 	
}
.boton a{
	padding: 0 13px;
	background: none;
	color: white;
}
li:first-child{
	font-weight: bold;
}
